body{
    width: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
  
.container{
    width: 90%; 
    margin: auto;
    height: 60px;
}
  
.header{
    padding-left: 40px;
    padding-top: 10px;
    height: 120px;
    width: auto;
}

.nav ul{
    margin: 0;
    padding-top: 35px;
}


.title-header img{
    float: left;
    color: #ffffff;
    width: 170px;
    height: 110px;
}
  
.nav{
    float: right;
}
  
.nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
}
  
.nav li{
    display: inline-block;
    padding: 20px;
    padding: 10px 20px 0 20px;
    font-family: 'Times New Roman', Times, serif;
}

.nav ul{
  margin: 0;
}

.title-header{
  float: left;
  color: #ffffff;
}

.nav{
  float: right;
  padding-right: 40px;
}

.nav a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: #20f504;
    text-transform: uppercase;
    font-size: 18px;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}

.background{
    background-image: url('../img/cr7.jpg');
    border-bottom: #09e8f0 solid 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 960px;
    /* display: flex; */
}


.bloco1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    height: 15%;
    float: left;
    border:  #09e8f0 solid 2px;
    text-align: left;
    padding-left: 20px;
    color:  #ffffff;
    margin: 80px 0 0 20px;
}


.form_cad{
    margin-top: 200px;
    width: 340px;
    margin-left: 150px;
    font-size: 25px;
    float: left;
    height: 420px;
    border-radius: 15px;
    border:rgb(255, 255, 255) solid 3px;
    box-shadow:  10px 7px 6px 2px rgb(102, 245, 6);
    background: #ffffff;
}

.cadastro {
    background-image: url('../img/CR7Cad.jpg');
    background-size: cover;
    float: left;
    width: 100%;
    height: 969px;
}

.valores{
    overflow: auto; 
}
  
.valores .val-items{
    text-align: center;
    width: 270px;
    float: left;
    padding-left: 30px;
    padding-top: 60px;
    margin: 40px 90px 70px 80px;
}
  
.val-items img{
    height: 100px;
}

.footer{
    border: rgb(245, 6, 6) solid 2px;
    background-color:#09e8f0;
    height: 110px;
    clear: both;
}

.footer h3{
    color: rgb(245, 6, 6);
    padding-top: 30px;
}

.login{
    background-image: url('../img/estadio.jpg');
    background-size: cover;
    float: left;
    width: 100%;
    height: 1000px;
}


.form_cad1{
    text-align: center;
    margin: 250px auto;
    width: 340px;
    font-size: 25px;
    height: 300px;
    border-radius: 15px;
    color: white;
    border:rgba(0, 0, 0, 0.493) solid 3px;
    box-shadow:  10px 7px 6px 2px rgba(245, 6, 6, 0.548);
    background: #ffffff00;
}

.Time_1{
    width: 45%;
    float: left;
    margin: 100px auto;
    height: 550px;
}

#times_paulistas1{
    width: 140px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.placar{
    width: 10%;
    float: left;
    padding-top: 240px;
}

.placar h1{
    color: #ffffff;
    border-radius: 20px;
    border:rgb(252, 252, 252) solid 3px;
    box-shadow:  5px 6px rgba(255, 0, 0, 0.637);
}

#jogar_btn{
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    box-shadow:  5px 6px  rgba(255, 0, 0, 0.637);
    border-radius: 20px;
    border: none;
}

.Time_2{
    width: 45%;
    float: right;
    margin: 100px auto;
    height: 550px;
}

#times_paulistas2{
    width: 140px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

#formacao1 img{
    padding-top: 16px;
    width: 370px;
}

#formacao2 img{
    padding-top: 16px;
    width: 370px;
}

.simulador{
    background: url('../img/estadio2.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.fundo{
    background-image: url('../img/fundo_estadio.jpg');
    background-size: cover;
    float: left;
    width: 100%;
    height: 969px;
    box-shadow: red 5px 6px;
}

.conteudo{
    width: 60%;
    float: right;
    font-size: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.589);
    margin-top: 310px;
    margin-right: 50px;
    padding: 15px;
    border-radius: 12px;
}

.fundo_conteudo{
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    height: 100%;
}